body {
    margin: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

#game-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
}

#chrono {
    position: absolute; 
    top: 50px; 
    left: 10px; 
    font-size: 24px; 
    color: rgb(255, 0, 0)
}

#restart-button {
    position: absolute;
    display: none;
    top: 50%;
    right: 50%;
    font-size: 24px;
    color: black;
    cursor: pointer;
}

#id {
    display : none;
}