*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#gameContainer {
    width: 100%;
    height: 100vh;
}

#success-message{
    display: none;
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
}

#error-message{
    display: none;
    background-color: #f44336;
    color: white;
    font-weight: bold;
}