*{
    margin: 0;
    padding: 0;
<<<<<<< HEAD
=======
}

main {
    min-height: 58.2vh; /* Hauteur de la barre de navigation */
>>>>>>> d94bbcdfb1f6a460842f69420969b9280a3d4e00
}

#success-message{
    display: none;
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
}

#error-message{
    display: none;
    background-color: #f44336;
    color: white;
    font-weight: bold;
}

.navbar {
    position: relative;
    z-index: 1000;
    background: linear-gradient(90deg, #1a1a1a, #3a3a3a);
    border-bottom: 3px solid #ff007f;
}

.navbar .logo img {
    max-height: 100px;
}

.navbar .navbar-nav .nav-link {
    color: #fff;
    font-size: 1rem;
    margin-right: 15px;
    transition: color 0.3s ease, transform 0.3s ease;
}

.nav-item a{
    font-family: 'Press Start 2P', cursive;
}

.navbar .navbar-nav .nav-link:hover {
    color: #ffcc00;
    transform: scale(1.1);
}

.navbar .navbar-toggler {
    background-color: #ff007f;
}

.navbar .navbar-toggler-icon {
    filter: invert(1);
}

/* Bouton Connexion ou Déconnexion */
.navbar .nav-link.btn-connexion {
    background: linear-gradient(90deg, #ff007f, #ffcc00);
    border: none;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    padding: 8px 15px;
    border-radius: 5px;
    transition: background 0.3s ease, transform 0.3s ease;
}

.navbar .nav-link.btn-connexion:hover {
    background: linear-gradient(90deg, #ffcc00, #ff007f);
    transform: translateY(-3px);
    color: #fff;
}

/* Footer  */
.footer-gaming {
    background: linear-gradient(90deg, #1a1a1a, #3a3a3a);
    border-top: 3px solid #ff007f;
    padding: 10px 0;
}

.container h3 {
    font-family: 'Press Start 2P', cursive;
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.footer-gaming p {
    font-size: 0.8rem;
    font-family: 'Press Start 2P', cursive;
    margin-bottom: 0;
    color: #bfbfbf;
}


.footer-gaming .legal-links {
    font-size: 0.8rem;
    margin-top: 10px;
}

.footer-gaming .legal-link {
    color: #ff007f;
    text-decoration: none;
    font-family: 'Press Start 2P', cursive;
    font-weight: bold;
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

.footer-gaming .legal-link:hover {
    color: #ffcc00;
    text-shadow: 0 0 5px #ffcc00;
}

.footer-gaming .legal-links span {
    color: #fff;
    margin: 0 5px;
}