body {
    margin: 0;
    overflow: hidden;
    background-color: #70c5ce;
    font-family: Arial, sans-serif;
}
canvas {
    display: none; 
    background-color: #70c5ce;
}
#startForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #70c5ce;
}
#startForm input {
    padding: 10px;
    font-size: 18px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    outline: none;
}
#startForm button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#startForm button:hover {
    background-color: #218838;
}